{% extends "base.html" %}
{% load static %}

{% block title %}パスワード変更 | Diary{% endblock title %}

{% block exhead %}
<link rel="stylesheet" href="{% static "css/accounts/field.css" %}">
{% endblock exhead %}

{% block content %}
<div class="field-area">
  <h1 class="title">パスワード変更</h1>

  {{ form.non_field_errors }}
  
  <form method="post" class="field-form">
    {% csrf_token %}
    
    <label class="field__title" for="old_password">現在のパスワード</label>
    <input type="password" name="old_password" class="field__input">
    {{ form.old_password.errors }}

    <label class="field__title" for="new_password1">新しいパスワード</label>
    <input type="password" name="new_password1" class="field__input">
    {{ form.new_password1.errors }}

    <label class="field__title" for="new_password2">新しいパスワード（確認）</label>
    <input type="password" name="new_password2" class="field__input">
    {{ form.new_password2.errors }}

    <button type="submit" class="form__button">パスワードを変更する</button>
  </form>
</div>
{% endblock content %}