{% extends "base.html" %}
{% load static %}

{% block title %}

{% if readonly %}
{{ form.title.value }} | Diary
{% elif form.title.value %}
{{ form.title.value }}の編集 | Diary
{% else %}
日記の作成 | Diary
{% endif %}

{% endblock title %}

{% block exhead %}
<link rel="stylesheet" href="{% static "css/create.css" %}">
{% endblock exhead %}

{% block content %}

{% for error in form.errors %}
{{ error }}
{% endfor %}

<form method="POST" enctype="multipart/form-data" id="editor-form" class="entry-form"> {% csrf_token %}
  <input type="text" name="title" id="id_title" class="entry__textarea entry__title" value="{{ form.title.value|default_if_none:'' }}" placeholder="タイトル" {% if readonly %}readonly{% endif %} required>
  <section class="entry__datetime">
    <input type="date" name="date" id="id_date" class="entry__date" value="{{ form.date.value|default_if_none:'' }}" {% if readonly %}readonly{% endif %} required>
    <input type="time" name="time" id="id_time" class="entry__time" value="{{ form.time.value|default_if_none:'' }}" {% if readonly %}readonly{% endif %} required>
    <input type="checkbox" name="public" id="id_public" class="entry__is_public" {% if form.public.value %}checked{% endif %} {% if readonly %}readonly{% endif %} >
    <label class="entry__public-desc" for="id_public">記録の公開</label>
  </section>

  <section class="entry__tags" name="id_tags" id="id_tags">
    {% for tag in tags %}
    <div class="tag">
      <input type="text" name="tags" class="tag__input" value="{{ tag }}" {% if readonly %}readonly{% endif %}>
    </div>
    {% endfor %}

    {% if not readonly %}
    <button type="button" id="tags__add" class="tags__add">+</button>
    {% endif %}
  </section>

  {% if not readonly %}
  <button type="button" id="submit__btn" class="entry__save">保存</button>
  {% endif %}

  <textarea name="content" id="id_content" class="entry__textarea entry__content" placeholder="本文を入力..." {% if readonly %}readonly{% endif %} required>{{ form.content.value|default_if_none:'' }}</textarea>
</form>

<template id="tag-template">
  <div class="tag">
    <input type="text" name="tags" class="tag__input" value="">
  </div>
</template>

<script src="{% static "js/editor.js" %}"></script>
{% endblock content %}