{% extends "base.html" %}
{% load static %}

{% block title %}編集 | Diary{% endblock title %}

{% block exhead %}
<link rel="stylesheet" href="{% static "css/create.css" %}">
{% endblock exhead %}

{% block content %}
<form method="POST" enctype="multipart/form-data" id="editor-form" class="entry-form"> {% csrf_token %}
  <input type="text" name="title" id="id_title" class="entry__textarea entry__title" value="{{ form.title.value }}" placeholder="タイトル" required>
  <input type="datetime-local" name="date" id="id_date" class="entry__date" value="{{ form.date.value }}" required>
  <div class="entry__tags" name="id_tags" id="id_tags">
    {% for tag in tags %}
    <div class="tag">
      {{ tag }}
    </div>
    {% endfor %}
    
    <button type="button" id="tags__add" class="tags__add">+</button>
  </div>
  <textarea name="content" id="id_content" class="entry__textarea entry__content" placeholder="本文を入力..." required>{{ form.content.value }}</textarea>

  <button type="button" id="submit__btn">保存</button>
</form>

<template id="tag-template">
  <div class="tag">
    <input type="text" name="tags" class="tag__input" value="">
  </div>
</template>

<script src="{% static "js/editor.js" %}"></script>
{% endblock content %}