{% extends "base.html" %}
{% load static %}

{% block title %}ホーム | Diary{% endblock title %}
{% block exhead %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock exhead %}

{% block content %}

<h1 class="welcome-mesg">welcome back, {{ user.username }}!</h1>
<a href="{% url "diary:create" %}" class="quick-create">エントリーを作成</a>

<section class="entries">
  <div class="entries__header">
    <h2 class="entries__title">最近の投稿</h2>
    <form method="GET" action="{% url "diary:home" %}" class="search">
      <input type="text" name="q" class="search__input" placeholder="検索" value="{{ request.GET.q }}">
      <button type="submit" class="search__btn" aria-label="検索">🔍</button>
    </form>

    <ul class="entries__tags">
      <li class="entries__tag">
        <a href="{% url "diary:home" %}">全て</a>
      </li>
      {% for tag in tags %}
        <li class="entries__tag">
          <a href="{% url "diary:home" %}?tag={{ tag }}">#{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>

    {% if search_mode %}
      <span>検索結果: {{ entry_list|length }}件</span>
    {% endif %}
  </div>

  <div class="entry-list">
    {% for entry in entry_list %}
    <a href="{% url "diary:editor" entry.pk %}" class="entry">
      <h3 class="entry__title">{{ entry.title }}</h3>
      <p class="entry__text">{{ entry.content }}</p>
  
      <div class="entry__meta">
        <ul class="entry__tags">
          {% for tag in entry.tags %}
            <li>#{{ tag }}</li>
          {% endfor %}
        </ul>
        <time datetime="" class="entry__time">{{ entry.date }}</time>
        <form method="POST" action="{% url "diary:delete" entry.pk %}" class="entry__delete">
          {% csrf_token %}
          <button type="submit" onclick='return confirm("本当に削除しますか？");' class="entry__remove">削除</button>
        </form>
      </div>
    </a>
    {% endfor %}
  </div>
</section>

{% endblock content %}