{% extends "base.html" %}
{% load static %}

{% block title %}ホーム | Diary{% endblock title %}
{% block exhead %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock exhead %}

{% block content %}

<h1 class="welcome-mesg">welcome back, {{ user.username }}!</h1>
<a href="{% url "diary:create" %}" class="quick-create">エントリーを作成</a>

<section class="entries">
  <h2 class="entries__title">最近の投稿</h2>

  <div class="entry-list">
    {% for entry in entry_list %}
    <a href="{% url "diary:editor" entry.pk %}" class="entry">
      <h3 class="entry__title">{{ entry.title }}</h3>
      <p class="entry__text">{{ entry.content }}</p>
  
      <div class="entry__meta">
        <ul class="entry__tags">
          {% for tag in entry.tags %}
            <li>#{{ tag }}</li>
          {% endfor %}
        </ul>
        <time datetime="" class="entry__time">{{ entry.date }}</time>
      </div>
    </a>
    {% endfor %}
  </div>
</section>

{% endblock content %}