:root {
  --primary-color: wheat;
  --primary-light-color: #F3EEEB;
  --secondary-color: skyblue;
  --secondary-light-color: #E1EEFF;
}

.entry-form {
  display: grid;
  gap: 8px;
  grid-template-columns: minmax(0, 1fr);
}

.entry__textarea {
  border: 0;
  background: none;
  outline: none;
  
  resize: none;

  font-size: medium;
  font-family: inherit;
}

.entry__title {
  padding: 4px;
  margin: 4px 0;

  font-size: 24px;
  font-weight: bold;

  border-left: 3px black solid;
}

.entry__datetime {
  display: flex;
  gap: 4px;
}

.entry__date, .entry__time {
  appearance: none;
  -webkit-appearance: none;

  color: black;
  border: 1px solid black;
  border-radius: 4px;

  padding: 4px 8px;
  margin-right: 8px;
  
  max-width: fit-content;

  font-size: 16px;
}

.entry__is_public {
  appearance: none;

  width: 28px;
  height: 28px;
  margin: auto 0;
  border: 1px solid #000;
  border-radius: 4px;
}

.entry__is_public:checked {
  background-color: var(--primary-color);
  width: 28px;
  height: 28px;

  background-image: url('/static/img/ui/check.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.entry__public-desc {
  align-self: center;
  font-size: 16px;
}

.entry__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 8px;

  max-width: fit-content;
}

.tags__add {
  appearance: none;
  -webkit-appearance: none;

  display: block;
  background: none;
  
  color: black;

  width: 30px;
  height: 30px;
  padding: 2px 4px;

  font-size: 16px;

  border: 1px solid black;
  border-radius: 4px;
}

.tags__add:hover {
  background: #ebebeb;
  cursor: pointer;
}

.tag {
  padding: 4px 10px;
  border-radius: 16px;

  background: var(--secondary-light-color);
}

.tag__input {
  appearance: none;
  -webkit-appearance: none;

  border: none;
  background: none;
  outline: none;

  font-size: 16px;
  font-weight: 600;
  text-align: center;
  
  width: 80px;
  min-width: 80px;
}

.entry__save {
  appearance: none;
  -webkit-appearance: none;

  box-sizing: border-box;
  padding: 8px 16px;
  margin: 8px 0;

  font-size: 16px;
  font-weight: bold;

  color: black;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;

  cursor: pointer;
}

.entry__textarea {
  margin-bottom: 8px;
}