.entry-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.entry__textarea {
  border: 0;
  background: none;
  outline: none;
  
  field-sizing: content;
  max-height: fit-content;
  
  resize: none;
  font-family: inherit;
}

.entry__title {
  padding: 4px;
  margin: 4px 0;

  font-size: 24px;
  font-weight: bold;

  border-left: 2px black solid;
}

.entry__date {
  border: none;
  max-width: fit-content;

  font-size: 16px;
}

.entry__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 8px;

  max-width: fit-content;
}

.tags__add {
  display: block;
  background: none;

  width: 30px;
  height: 30px;
  padding: 2px 4px;

  font-size: 16px;

  border: 1px solid black;
  border-radius: 4px;
}

.tags__add:hover {
  background: #ebebeb;
  cursor: pointer;
}

.tag {
  padding: 4px 10px;
  border-radius: 16px;

  background: #D9D9D9;
}

.tag__input {
  border: none;
  background: none;
  outline: none;

  font-weight: 600;
  text-align: center;

  field-sizing: content;
  min-width: 80px;
  max-width: fit-content;
}

.entry__content {
  font-size: medium;
  margin: 8px 0;
}