{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>

  <link rel="stylesheet" href="{% static "css/base.css" %}">

  {% block exhead %}{% endblock exhead %}
</head>

<body>
  <header class="top-navbar">
    <button class="top-navbar__search">🔍</button>

    <a href="{% url "diary:home" %}" class="top-navbar__title">Diary</a>

    {% if request.user.is_authenticated %}
    <!-- TO DO: プロフィール機能の実装 
    <a href="" class="top-navbar__account">
      <img src="" alt="" class="top-navbar__account__icon">
    </a> -->
    <form method="POST" action="{% url "accounts:logout" %}" class="top-navbar__logout">
      {% csrf_token %}
      <button type="submit">ログアウト</button>
    </form>
    {% else %}
    <a href="{% url "accounts:login" %}" class="top-navbar__login">ログイン</a>
    {% endif %}
  </header>

  <main class="main">
    {% block content %}{% endblock content %}
  </main>

  <footer>
  </footer>
</body>
</html>