{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>

  <link rel="stylesheet" href="{% static "css/base.css" %}">

  {% block exhead %}{% endblock exhead %}
</head>

<body>
  <header class="top-navbar">
    <a class="top-navbar__home" href="{% url "diary:home" %}">
      <img src="{% static 'img/ui/home.svg' %}" alt="Home Icon" class="top-navbar__home__img">
    </a>

    <a href="{% url "diary:home" %}" class="top-navbar__title">Diary</a>

    {% if request.user.is_authenticated %}

    <div class="top-navbar__account">
      <a href="#" class="top-navbar__account__icon">
        <img src="{% static 'img/ui/account_circle.svg' %}" alt="Profile Icon" class="top-navbar__account__icon__img">
      </a>
      <div class="top-navbar__account__menu">
        <a href="">設定</a>
        <form method="POST" action="{% url 'accounts:logout' %}">
          {% csrf_token %}
          <button type="submit">ログアウト</button>
        </form>
      </div>
    </div>

    {% else %}
    <a href="{% url "accounts:login" %}" class="top-navbar__account__icon">
      <img src="{% static 'img/ui/account_circle.svg' %}" alt="Profile Icon" class="top-navbar__account__icon__img">
    </a>
    {% endif %}
  </header>

  <main class="main">
    {% block content %}{% endblock content %}
  </main>

  <footer>
  </footer>
</body>
</html>